@font-face {
  font-family: Jetbrains;
  src: url('./assets/JetBrainsMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Jetbrains;
  src: url('./assets/JetBrainsMono-Medium.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Jetbrains;
  src: url('./assets/JetBrainsMonoNL-Regular.ttf');
  font-weight: 700;
}

/*Default CSS*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #000 !important;
  color: #fff !important;
  font-family: 'Jetbrains' !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/***************************************** Navbar CSS *********************************************/
nav.navbar {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: -14%;
  z-index: 99;
  transition: 0.32s ease-in-out;
}

.logo{
  margin-left: -7.5%;
  width: 25%;
  margin-bottom: -12.5%;
}

nav.navbar.scrolled {
  padding: 20px 0;
  background-color: #121212;
}

nav.navbar .navbar-brand {
  color: #fff;
  margin-left: 3%;
  margin-top:0.5%;
}


nav.navbar .navbar-nav {
  margin-left: 42%;
  margin-bottom: -0.1%;
}


nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover,
nav.navbar .navbar-nav .nav-link.navbar-link.active {
  opacity: 1;
}
.me-auto{
  visibility: hidden;
}
span.navbar-text {
  display: flex;
  align-items: center;
}

/*************************************** Social Icons CSS *****************************************/
.social-icon {
  display: inline-block;
  margin-left: 88.7%;
  margin-top: -2.3%;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 100%;
  margin-right: 12.5px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

/*********************** Banner CSS ******************************************/

.banner {
  margin-top: 0;
  padding-left: 4%;
  padding-top: 12%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(102,10,119,1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 5s linear infinite;
  width: 10%;
  height: 10%;
  margin-left: 80%;
  margin-top: -5%;
  margin-bottom: -2%;

}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/*************************************** Carousel CSS *********************************************/
.project {
  padding: 20px 20px 20px 20px;
  position: relative;
  margin-left: 1.3%; 
  margin-top: 6%; 
  width: 95%;
}

.project h4{
  font-weight: bolder;
  text-decoration: underline;
}

.project-bx {
  background: #151515;
  border-radius: 70px;
  text-align: center;
  padding: 2%;
  margin-top: -60px;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
}
.project p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.project-slider {
  width: 100%;
  margin: 0 auto;
} 
.project-slider img {
  width: 50%;
  border-radius: 10%;
  margin: 0 auto 15px auto;
}

.project h5{
  padding-bottom: 3%;
  font-size: 0.8rem;
  text-align: center;
}
.project h6{
  color: #000;
}

.project-button{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-family: Jetbrains;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.project-button:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10rem;
  z-index: -2;
}

.project-button:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(#000, 15%);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1
}

.project-button:hover{
  color: #fff;
}

.react-multiple-carousel__arrow{
  margin-bottom: 10%;
  z-index: 1;
}

.project-slider div {
  padding: 10%; 
}

/**************************************** Modal CSS **************************************/

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding-top: 10%;
}

.modal-content {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #fff;
  z-index: 100;
  margin-top:3.6%;
  background-color: #fff;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  position: relative;
  text-align: left;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0; 
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 70%;
  z-index: 100;
}

.modal-content h6{
  margin-top: 5%;
  font-size: 14px;
  color: #888;
}

.modal-content p{
  font-size: 16px;
  padding-top: 2%;
  line-height: 1.6;
  color: #555;
}

.modal-content h4{
  margin-top: 0;
  font-size: 24px;
  color: #333;
  justify-content:flex-end;
}

.modal-content h5{
  color: #333;
  text-decoration: underline;
  padding-top: 2%;
}

.modal-images{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.slider img{
  height:100%; 
  width:100%;
  opacity: 1;
  z-index: 5;
}

/************************************* Modal Buttons *****************************************/

.link-button {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  width: 18%;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 33%;
  margin-top: -6%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button:hover,
.link-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.modal-close {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flexbox;
  font-family: JetBrains;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
  margin-bottom: 1%;
}

.modal-close:hover,
.modal-close:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.link-button-2 {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 63%;
  margin-top: -6%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button-2:hover,
.link-button-2:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.link-button-3 {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 82%;
  margin-top: -6.7%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button-3:hover,
.link-button-3:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.link-button-4 {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  width: 18%;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 65%;
  margin-top: -6%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button-4:hover,
.link-button-4:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.link-button-5 {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  width: 30%;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 33%;
  margin-top: -6%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button-5:hover,
.link-button-5:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.link-button-6 {
  align-items: center;
  background-color: #6e1615;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-left: 37%;
  margin-top: -6%;
  font-family: JetBrains;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-button-6:hover,
.link-button-6:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}





