/************************************** Views *****************************************************/

@media (max-width: 1280px) {
  body {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  body * {
    display: none !important;
  }

  body::before {
    content: "Error 409: Sorry, you will have to use a bigger device to access this site :(";
    display: block;
  }
}

/* Display Optimization for 2560px */
@media (min-width: 2560px) {
body {
  font-size: 22px; 
}

.container {
  padding: 50px; 
}

.logo{
  margin-left: -7.5%;
  width: 25%;
  margin-bottom: -8.4%;
}

nav.navbar .navbar-brand {
  width: 5%; 
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-size: 30px; 
  padding: 0 30px; 
}

nav.navbar .navbar-nav {
  margin-left: 37%;
}

.social-icon{
  margin-left: 87.5%;
}

.social-icon a {
  width: 60px;
  height: 60px; 
  margin-top: 2%;
}

.social-icon a img {
  width: 60%; 
}

.navbar-nav{
  margin-top: -5%;
}

nav.navbar.scrolled {
  padding: 20px 0;
  background-color: #121212;
}

nav.navbar {
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: -18%;
  z-index: 99;
  transition: 0.32s ease-in-out;
}

.banner{
  margin-top: -5%;
}

.banner img{
  margin-top:-3%;
}

.project {
  margin-top: 1%;
}

.modal{
  height: 100%;
  width: 100%;
  font-size: 26px;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding-top: 10%;
}

.modal-content {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #fff;
  z-index: 1000;
  margin-top:3.6%;
  background-color: #fff;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  position: relative;
  text-align: left;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0; 
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 70%;
  z-index: 1000;
}

.modal-content h6{
  margin-top: 5%;
  font-size: 14px;
  color: #888;
}

.modal-content p{
  font-size: 18px;
  padding-top: 2%;
  line-height: 1.6;
  color: #555;
}

.modal-content h4{
  margin-top: 0;
  font-size: 24px;
  color: #333;
  justify-content:flex-end;
}

.modal-content h5{
  color: #333;
  text-decoration: underline;
  padding-top: 2%;
}

.modal-images{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
}
/* Display Optimization for FHD or 1080p */
@media (min-width: 1920px){
  nav.navbar.scrolled {
    padding: 25px 0;
    background-color: #121212;
  }
}

@media (max-width: 1700px){
  .logo{
    margin-bottom: -14%;
  }

  .banner{
    margin-left: 2%;
  }

  .project{
    margin-top: 8%;
  }

  .modal-images{
    height: 80%;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 4%;
    margin-left: 10%;
  }

  .modal-content h6{
    margin-top: 5%;
    font-size: 10px;
    color: #888;
  }
  
  .modal-content p{
    font-size: 12px;
    padding-top: 2%;
    line-height: 1.6;
    color: #555;
  }
  
  .modal-content h4{
    margin-top: 0;
    font-size: 24px;
    color: #333;
    justify-content:flex-end;
  }
  
  .modal-content h5{
    color: #333;
    text-decoration: underline;
    padding-top: 2%;
  }

  .modal-close{
    position: fixed;
  }

}